* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.main{
    background-color: #bdc3c7;
    height: 100vh;
    display: flex;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #000;
    font-size: 300%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
}

h2 {
    margin-top: 5px;
    margin-bottom: 10px;
    color: #000;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 2px; 
}


/*      LEFT SIDE       */

.left-side{
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 160px;
}

.left-side a{
    border: none;
}

.logo{
    height: 350px;
}

.left-side h1{
    padding: 1px;
}

/*      RIGHT SIDE      */

.right-side{
    width: 65%;
    background-color: #f9f9fc;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-up-form
{
    margin: 10% 0;
    width: 350px;
    /*box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);*/
    padding: 20px;
    background: #f9f9fc;
    text-align: center;
}

.sign-up-form h2
{
    font-weight: 400;
    margin-bottom: 30px;
}

.sign-up-form p
{
    position: relative;
    font-size: 90%;
    color: #000;
    margin: 0px 0px 10px 18px;
    text-align: left;
    font-weight: 400;
}

.terms{
    font-size: 70%;
    margin: 10px 30px 10px 40px;
    text-align: left;
    font-weight: 100;
}

.input-box{
    font-size: 77%;
    border-radius: 20px;
    padding: 12px 10px 10px 40px;
    margin-bottom: 30px;
    width: 270px;
    border: 1px solid #999;
    background: #f2f2f2;
}

.input-box:focus{
    outline: none;
}

/*.icon{
    padding: 12px 10px 10px 40px;
    position: absolute;
}*/

/*.button:link,
.button:visited*/
.button {
    color: #fff;
    background: #999;
    width: 80%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
    text-transform:uppercase;
}

.button:hover,
.button:active {
    background: #808080;
}

ion-icon{
    position: relative;
    margin: 10px 0 0 0;
    left: -263px;
    top: 4px;

}

/*      LOG IN EXTRAS       */

.flexbox-login{
    display: flex;
    text-align: center;
    position: relative;
    left: 25%;
    bottom: 30px;
}

.flexbox-login a{
    position: relative;
    text-decoration: none;
    font-size: 90%;
    color: blue;
    margin: 0px 0px 2px 40px;
    text-align: left;
    font-weight: 400;
    right: 30px;
}

.flexbox-login p{
    position: relative;
    left: 0px;
}

/*      ACCOUNT EXTRAS      */

.account-message{
    text-align: center;
    margin: 200px auto;
    width: 330px;
}

.account-message h2{
    padding: 5%;
}

.account-message h3{
    line-height: 1.4;
    font-weight: 300;
}

.account-message p{
    padding: 5%;
    font-size: 75%;
}

.account-message a{
    text-decoration: none;
    color: blue;
}
